*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial;
}
#header{
    height: 46px;
    background-color: #000;
}

#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none; /* bỏ dấu chấm trước li, CSS vào thẻ li cũng được */
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a, #nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #fff;
    box-shadow: 0 0 10px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right; /* thẻ div mặc định kế thừa width của cha nên nằm riêng 1 dòng dưới chiếm 100% nên dùng thuộc tính này đẩy lên*/
    padding: 0 21px;

}

#header .search-btn:hover{
    cursor: pointer; /* thay đổi hình dạng chuột khi trỏ chuột vào */
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    min-height: 500px;
    background-color: rgba(34, 30, 30, 0.78);
}