*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial;
}
#header{
    height: 46px;
    background-color: #000;
}

#nav, .subnav {
    list-style-type: none; /* bỏ dấu chấm trước li, CSS vào thẻ li cũng được */
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

/* chỉ ảnh hưởng tới li là con cấp 1 của nav */
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block; /* đổi từ display: inline-block sang block vì inline-block chứa đặc điểm inline là co lại kích cỡ vừa content mà không kế thừa width của cha */
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a, #nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute; /* vô tình lại đúng vị trí đẹp như vậy, cần có kinh nghiệm nhiều mới hiểu được, thêm top: 100%, left: 0% */
    top: 100%;
    left: 0%;
    background-color: #fff;
    box-shadow: 0 0 10px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px; /* dùng nguyên tắc chia hết cho 4 */
    line-height: 38px;
}

#slider{
    min-height: 500px;
    background-color: rgba(34, 30, 30, 0.78);
}